/* -------------------------------- */
/* COLORS */
:root {
  --white: #ffffff;
  --wild-sand: #e7e4df;
  --light-grey: #d2d2d2;
  --shuttle-grey: #5f6368;
  --white-smoke: #f8f8f8;
  --biloba-flower: #ab85eb;
  --ebony: #282c34;
  --moccaccino: #5c2b2b;
  --lavender-blush: #faf5f6;
}

/* -------------------------------- */
/* GENERAL */
div#container {
  height: 58vh;
  margin-top: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-person-digging {
  font-size: 3em;
}

header,
footer {
  width: 99.5%;
  margin: 0;
}
